body {
    background-color: #000;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

/* Línea indicadora secreta */
.v-line {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background-color: #222; /* Gris muy oscuro, casi invisible */
    border-radius: 5px;
    z-index: 1000;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-display {
    font-size: 85px;
    font-weight: 200;
    margin-bottom: 60px;
    font-variant-numeric: tabular-nums;
    cursor: pointer;
}

.ms { font-size: 65px; color: #ccc; }

.controls {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 400px;
}

.btn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: filter 0.1s;
}

.btn:active { filter: brightness(1.5); }

.start { background-color: #1a3d1a; color: #30d158; }
.stop { background-color: #3d1a1a; color: #ff453a; }
.secondary { background-color: #333; color: #fff; }

.hidden { display: none !important; }

/* Menú oculto */
#settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1c1c1e;
    padding: 25px;
    border-radius: 15px;
    z-index: 2000;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#settings input {
    width: 80px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    background: #333;
    border: none;
    color: #fff;
    text-align: center;
}