body {
    background-color: #121212;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

/* Indicador y Trigger */
.v-line {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background-color: #3b3b3b;
    border-radius: 0 0 5px 5px;
    z-index: 10000;
}

.home-trigger {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    height: 60px; /* Área táctil generosa pero invisible */
    z-index: 9999;
    background: transparent;
}

#app {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.timer-display {
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 30px;
    font-variant-numeric: tabular-nums;
    cursor: pointer;
}

.ms { font-size: 60px; color: #ccc; }

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.start { background-color: #006400; color: #ffffff; font-weight: bold}
.stop { background-color: #d32f2f; color: #FFF; font-weight: bold}
.secondary { background-color: #3f3f3f; color: #fff; font-weight: bold}
.secondary_restart { background-color: #333; color: #ffffff; font-weight: bold}

.laps-wrapper {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    border-top: 0.5px solid #333;
}

.lap-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 0.5px solid #222;
    font-size: 20px;
}

.lap-number { color: #888; }

/* Vistas de Menú */
.home-view, .config-view { justify-content: center !important; padding-top: 0 !important; }
.logo { font-size: 42px; letter-spacing: 5px; margin-bottom: 50px; font-weight: 200; }
.home-container { display: flex; flex-direction: column; gap: 15px; width: 85%; }
.home-btn {
    background: #1c1c1e; color: white; padding: 20px; border-radius: 15px;
    text-decoration: none; text-align: center; border: 1px solid #2c2c2e;
}
.home-btn_config {
    background: #00BFA5; color: white; padding: 20px; border-radius: 15px;
    text-decoration: none; text-align: center; border: 1px solid #2c2c2e;font-weight: bold
}
.home-btn_instruct {
    background: #FFC107; color: white; padding: 20px; border-radius: 15px;
    text-decoration: none; text-align: center; border: 1px solid #2c2c2e;font-weight: bold
}
.home-btn.primary { background: #006400; color: #fff; font-weight: bold; }

.group-box { background: #1c1c1e; padding: 15px; border-radius: 15px; margin-bottom: 15px; width: 85%; }
.group-box input { width: 100%; padding: 12px; background: #000; border: 1px solid #333; color: #fff; border-radius: 8px; box-sizing: border-box; }
.save-btn { border: none; padding: 10px; border-radius: 8px; font-weight: bold; cursor: pointer; flex: 1; }
.hidden { display: none !important; }
#settings { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #1c1c1e; padding: 25px; border-radius: 20px; z-index: 11000; width: 80%; text-align: center; }

/*instrucciones*/

/* Permitir scroll solo en instrucciones */
.inst-view {
    overflow-y: auto !important;
    display: block !important; /* Cambiamos flex por block para el flujo de texto */
    height: 100vh;
}

/* Ajuste para que el contenedor no quede pegado a los bordes */
.inst-container {
    padding: 30px 20px 80px 20px; /* Más espacio abajo para no tapar el link de volver */
}